<div class="container">
  <table class="table table-bordered">
    <tr><th colspan="2">Chapter Assessment Program</th></tr>
    <tr><td>Expected Tier</td> <td><%= @tier %></td></tr>
    <tr><td>Total Points</td> <td><%= @progress %></td></tr>
    <tr><td>Points Until Next Tier</td> <td><%= @pointsToNext %></td></tr>
  </table>
  <%= render :partial => 'main/requirement', :object => @requirement %>
</div>
