<div class="content">
  <h1>Chapter Assessment Program</h1>
  <h3>Expected Tier: <%= @tier %></h3>
  <h3>Total Points: <%= @progress %></h3>
  <h3>Points Until Next Tier: <%= @pointsToNext %></h3>
</div>