<div class="sidebar">
  <img src="https://chiphi.dynamic.omegafi.com/wp-content/uploads/sites/2013/2016/10/chakett-logo-retina.png" alt="..." class="img-thumbnail img-circle">
  <ul class="list-group">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Morbi leo risus</li>
    <li class="list-group-item">Porta ac consectetur ac</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
</div>
<div class="content">
  <h1>Community Service</h1>
  <ul class="list-group">
    <% @requirement.each do |r| %>
    <li class="list-group-item">
      <span class="label label-default">1.1</span>
      <span class="description"><%= r.name %></span>
      <!-- TODO change badge color class based on % completion -->
      <%
        percentComplete = r.amt_completed.to_f/r.amt_goal

        percentCompleteColor = "label-success"
        if percentComplete < 0.33 then
          percentCompleteColor = "label-error"
        elsif percentComplete < 0.66 then
          percentCompleteColor = "label-warning"
        end
      %>

      <div class="label pull-right <%= percentCompleteColor %> completionElement">
        <%= r.amt_completed.truncate %>/<%= r.amt_goal.truncate %>
      </div>
    </li>
    <% end %>
  </ul>

</div>