<div class="container">
<h1>
  Dashboard
</h1>
  <ul>
    <li><%= link_to 'Create New Group', admin_newGroup_url %></li>
    <li><%= link_to 'Add Users to group', admin_newUser_url %></li>
  </ul>
</div>