// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$backgroundColor: #2A3F54;
html, body {
  overflow: auto;
  height: 100%;
  width: 100%;
}
.content {
  .status {
    padding: 20px;
    h1 {
      margin: 0;
    }
  }


}
.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $backgroundColor;
  height:100%;
  width:15vw;
  float: left;/*
  position:fixed!important;
  z-index:1;
  overflow:auto;*/
  .close-btn {
    background-color: transparent;
    font-size: 60px;
    float: right;
    color: white;
    border: none;
    line-height: 0;
    height: 50px;
  }
  .close-btn:active {
    border: none;
  }
  .btn {
    border-radius: 0;
    margin: 0;
    background-color: $backgroundColor;
  }
  .btn:hover {
    background-color: #223344;
    color: white;
  }
  img {
    padding: 15px;
    background-color: transparent;
    border: none;
  }
  .list-group {
    color: whitesmoke;
    .list-group-item {
      background: transparent;
    }
  }
}
.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.completionElement
{
  width: 60px;
}
@import 'circle.scss';