// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sidebar {
  width: 15vw;
  height: 100vh;
  float: left;
  background-color: #2A3F54;
  img {
    padding: 15px;
    background-color: transparent;
    border: none;
  }
  .list-group {
    color: whitesmoke;
    .list-group-item {
      background: transparent;
    }
  }
}
.content {
  width: 85vw;
  height: 100vh;
  padding: 25px;
  float: left;
  .list-group {
    .list-group-item {
      .description {
      }
      .badge {
        width: 60px;
        background-color: #4BB543;
      }
    }
  }
}