// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$backgroundColor: #2A3F54;
.sidebar {
  width: 15%;
  height: 100vh;
  float: left;
  background-color: $backgroundColor;
  .btn {
    border-radius: 0;
    margin: 0;
    background-color: $backgroundColor;
  }
  .btn:hover {
    background-color: #223344;
    color: white;
  }
  img {
    padding: 15px;
    background-color: transparent;
    border: none;
  }
  .list-group {
    color: whitesmoke;
    .list-group-item {
      background: transparent;
    }
  }
}
.content {
  width: 85%;
  height: 100vh;
  padding: 25px;
  float: left;
}
.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.completionElement
{
  width: 60px;
}
@import 'circle.scss';